* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: black;

  h1 {
    color: red;
    font-family: "Oswald", serif;
    font-weight: 500;
    font-size: 30px;
  }
}
