* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
header {
  background-color: black;

  h1 {
    color: red;
    font-family: "Oswald", serif;
    font-weight: 500;
    font-size: 30px;
  }
}

.dropdown-menu {
  overflow-y: auto;
  height: 300px;
}

/* main */
.card {
  position: relative;
}

.card-hover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.682);
  width: 100%;
  height: 100%;
  overflow-y: auto;
  color: white;
  opacity: 0;
  visibility: hidden;

  p {
    font-size: 15px;
    padding: 2px;
  }

  .p-star {
    font-size: 15px;
    margin-top: 10px;
  }
}

.card:hover .card-hover {
  opacity: 1;
  visibility: visible;
}

.container-main {
  background-color: rgba(0, 0, 0, 0.503);
  color: white;
}

.swiper {
  width: 60vh;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100vh;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100%;
}

.swiper-slide img {
  display: block;
  width: auto;
}
